<div class="footer" id="footer">
  <div class="advertisement">
    <div class="s591__inner">
          <ul class="s591__brand">
              <li>
                  <a href="/content/lottehotel/global/vi/about/lotte-hotel/brand/signiel.html" target="_blank">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2-3tBoKOvgoei9aKix3ts9PXeEGM2DKhSjQ&s" alt="footer logo-signiel">
                  </a>
              </li>

              <li>
                  <a href="/content/lottehotel/global/vi/about/lotte-hotel/brand/lotte-hotel.html" target="_blank">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLGiV8h_giJnv3mOovdTCHR27xmRSjxpP02w&s" alt="footer logo-lottehotel">
                  </a>
              </li>

              <li>
                  <a href="/content/lottehotel/global/vi/about/lotte-hotel/brand/l7-hotel.html" target="_blank">
                      <img src="https://c8.alamy.com/comp/MBK1GR/hotel-apollon-MBK1GR.jpg">
                  </a>
              </li>

              <li>
                  <a href="/content/lottehotel/global/vi/about/lotte-hotel/brand/lotte-city-hotel.html" target="_blank">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBYiYY8t_Wr7NaN_kJDfY8-NeU_1XM6wWPYA&s" alt="footer logo-city">
                  </a>
              </li>

              <li>
                  <a href="https://www.lotteresort.com/main/en/index" target="_blank">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKE0DgNpKYfs0i-6vZWt8JeZeLqdpl9gfQcQ&s" alt="footer logo-resort">
                  </a>
              </li>
          </ul>
          <div class="s591__group">
              <ul class="s591__sns">
                  <li>
                      <a target="_self" data-js="sns" data-url="/content/lottehotel/global/vi/hotel-reviews.html">
                          <!--a href="/content/lottehotel/global/vi/hotel-reviews.html" target="_self" data-js="sns" data-url="/content/lottehotel/global/vi/hotel-reviews.html"-->
                          <img src="https://www.lottehotel.com/content/dam/lotte-hotel/common/footer/footer-sns-tripa.png" alt="footer-sns-tripa">
                      </a>
                  </li>

                  <li>
                      <a target="_blank" data-js="sns" data-url="https://www.facebook.com/LOTTEHOTELHANOI">
                          <!--a href="https://www.facebook.com/LOTTEHOTELHANOI" target="_blank" data-js="sns" data-url="https://www.facebook.com/LOTTEHOTELHANOI"-->
                          <img src="https://www.lottehotel.com/content/dam/lotte-hotel/common/footer/footer-sns-facebook.png" alt="footer sns-facebook">
                      </a>
                  </li>

                  <li>
                      <a target="_blank" data-js="sns" data-url="https://www.instagram.com/lottehotel_hanoi/">
                          <!--a href="https://www.instagram.com/lottehotel_hanoi/" target="_blank" data-js="sns" data-url="https://www.instagram.com/lottehotel_hanoi/"-->
                          <img src="https://www.lottehotel.com/content/dam/lotte-hotel/common/footer/footer-sns-instagram.png" alt="footer-sns-instagram">
                      </a>
                  </li>

                  <li>
                      <a target="_blank" data-js="sns" data-url="https://www.youtube.com/user/LotteHotels/">
                          <!--a href="https://www.youtube.com/user/LotteHotels/" target="_blank" data-js="sns" data-url="https://www.youtube.com/user/LotteHotels/"-->
                          <img src="https://www.lottehotel.com/content/dam/lotte-hotel/common/footer/footer-sns-youtube.png" alt="footer-sns-youtube">
                      </a>
                  </li>

                  <li>
                      <a target="_blank" data-js="sns" data-url="https://blog.naver.com/lotte_hotels">
                          <!--a href="https://blog.naver.com/lotte_hotels" target="_blank" data-js="sns" data-url="https://blog.naver.com/lotte_hotels"-->
                          <img src="https://www.lottehotel.com/content/dam/lotte-hotel/common/footer/footer-sns-blog.png" alt="footer sns-blog">
                      </a>
                  </li>
              </ul>
          </div>
      </div>
</div>

  <div class="mt-4 p-5 text-white rounded" >
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1>Apolo Hotel</h1>
          <p>Nguyen Thien Doan &copy; 2024</p>
          <p>Ma Hai Dang &copy; 2024</p>
          <p>Tran Thi Truc Mai &copy; 2024</p>
          <br>
          <p>Khách sạn Apolo Hà Nội, Số 54, phố Liễu Giai, phường Cống Vị, quận Ba Đình, Hà Nội, Việt Nam </p>
          <p>/ +84-24-3333-1000</p>
        </div>
        <div class="col-6">
            <div class="row">
          <div class="col-4 link2">
          <ul >
            <li>Ăn uống</li>
            <li>About Apolo</li>
            <li>Về thương hiệu Apolo</li>
            <li>Tin tức</li>
            <li>Giải thưởng</li>
            <li>Gallery ảnh</li>
          </ul>
        </div>
        <div class="col-4 link1">
          <ul >
            <li>Phản hồi của khách hàng</li>
            <li>Liên hệ với chúng tôi</li>
            <li>Đường dây đạo đức</li>
            <li>Công việc</li>
          </ul>
        </div>
        <div class="col-4">
          <ul >
            <li>Điều tra phát triển</li>
            <li>Bản đồ website</li>
          </ul>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

